[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "django>=6.0.1",
    "uvicorn[standard]>=0.31.0",
    "daphne>=4.1.0",
    "channels>=4.3.2",
    "channels-redis>=4.0.0",
]
